.vscode
.slingshot

# Dependencies
**/node_modules/
node_modules/
**/node_modules/**

# OS metadata
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.log

# Environment variables
.env.local
.env.*.local

